<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css2/style3.css">
    <script src="https://kit.fontawesome.com/a141da9c1d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="./index.html"><img src="../static/images/logo.png" alt="Logo"></a>

            </div>

            <div id="links">
                <a href="./index.html">Home</a>
                <a href="./products.html">Products</a>
                <a href="./aboutus.html">About</a>
                <a href="./contactus.html">Contact Us</a>
            </div>

            <div id="signup_button">
                <a href="./Signup.html">Sign Up</a>
            </div>
        </div>
    </header>

    <main>
        <div id="about">
            <div id="content">

                <h5>How it Started</h5>
                <h1>Our Dream is Global Transformation</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia eligendi doloremque repellat
                    voluptatibus praesentium, tempore nisi dicta nulla quae labore architecto fuga quasi quod ex. Maiores
                    saepe iure rem animi.</p>
                </div>
                <div id="aboutusimage">
                    <img src="../static/images/about.jpeg" alt="AboutUs">
                </div>
                
            </div>
    </main>

    <footer>
        <div class="footerlogos">
            <a href="https://facebook.com" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/irtaza-manzoor-37a20a273/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </footer>
</body>

</html>