<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerece - Admin Page</title>
    <link rel="stylesheet" href="../static/css2/adminstyle.css">
    <script src="https://kit.fontawesome.com/a141da9c1d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <img src="../static/images/logo.png" alt="Logo">

            </div>

            <div id="links">
                <a href="./adminpage.html">DashBoard</a>
                <a href="./AddProduct.html">Add Products</a>
                <a href="./ViewContacts.html">View Contacts</a>
                <a href="./EditContactUs.html">Edit ContactUs</a>
                <!-- <a href="./contactus.html">Contact Us</a> -->
            </div>

            <Button id="logout">Log Out</Button>
        </div>
    </header>

    <main>
        <div class="container">
            <table>
                <thead id="head">
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="productsTable">                  
            
                    
                </tbody>
            </table>
        </div>

    </main>

    <footer>
        <div class="footerlogos">
            <a href="https://facebook.com" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/irtaza-manzoor-37a20a273/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </footer>
    <script src="../static/JS2/Productsbackend.js"></script>
</body>

</html>