<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../static/css2/style4.css">
    <script src="https://kit.fontawesome.com/a141da9c1d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="./index.html"><img src="../static/images/logo.png" alt="Logo"></a>

            </div>

            <div id="links">
                <a href="./index.html">Home</a>
                <a href="./products.html">Products</a>
                <a href="./aboutus.html">About</a>
                <a href="./contactus.html">Contact Us</a>
            </div>


            <div id="signup_button">
                <a href="./Signup.html">Sign Up</a>
            </div> <!-- <a href="./Signup.html">Sign Up</a> -->
            <!-- <button onclick="PopulateTable()">Sign Up</button> -->

        </div>
    </header>

    <main>
        <div id="container">
            <table id="table">
                <thead id="head">
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="productstable1">
                    
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div class="footerlogos">
            <a href="https://facebook.com" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/irtaza-manzoor-37a20a273/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </footer>
    <script src="../static/JS2/Userproductsbackend.js"></script>
</body>

</html>