<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerece - View Contact Us</title>
    <link rel="stylesheet" href="../static/css2/adminstyle.css">
    <script src="https://kit.fontawesome.com/a141da9c1d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <img src="../static/images/logo.png" alt="Logo">

            </div>

            <div id="links">
                <a href="./index.html">Home</a>
                <a href="./products.html">Products</a>
                <a href="./aboutus.html">About</a>
                <a href="./contactus.html">Contact Us</a>
                <a href="./adminpage.html">Admin Menu</a>
                <a href="./ViewUsers.html">View Users</a>
                <!-- <a href="./contactus.html">Contact Us</a> -->
            </div>

            <!-- <div id="signup_button">
                <a href="./Signup.html">Sign Up</a>
            </div> -->
        </div>
    </header>

    <main>
        <div class="container1">
            <table>
                <thead id="head">
                    <tr>
                        <th>User Name</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody id="bodytable1">
                    
                    
            
                    
                </tbody>
            </table>
        </div>

    </main>

    <footer>
        <div class="footerlogos">
            <a href="https://facebook.com" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/irtaza-manzoor-37a20a273/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
    </footer>
    <script src="../static/JS2/signupbackend.js"></script>
</body>

</html>